.blckr-macos-message-window {
    display: inline-block;
    padding: 15px 20px 15px 15px;
    border: solid 2px #dedede;
    border-radius: 5px;
}
.blckr-macos-message-window h1 {
    font-weight: 500;
    font-size: 25px;
    margin: 15px 0;
}
.blckr-macos-message-window p {
    margin: 15px 0;
}
.blckr-macos-message-window a {
    text-decoration: none;
    margin: 15px 0;
}
